# 4. Parametrik İstatistiksel Hipotez Testleri
- Bu bölümde, veri örneklerini karşılaştırmak için kullanabileceğiniz istatistiksel testler listelenmektedir.

## 1)Öğrencinin t-testi- 
İki bağımsız numunenin ortalamalarının önemli ölçüde farklı olup olmadığını test eder.

In [10]:
import pandas as pd
import scipy.stats as stats
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns

In [14]:
df = pd.read_csv("Golf.csv")
df.head(3)

   Current  New
0      264  277
1      261  269
2      267  263

**Soru1 :** "Current" ve "New" örneklerinin ortalamalarının anlamlı bir şekilde farklı olup olmadığını test etmek istiyoruz.
- **H0**:"Current" ve "New" örneklerinin ortalamaları arasında anlamlı bir fark yoktur. 
- **H1**:"Current" ve "New" örneklerinin ortalamaları arasında anlamlı bir fark vardır.

In [42]:
# Normalliği kontrol edelim
from scipy.stats import shapiro
w_stat,p_value1 = stats.shapiro(df["Current"])
print('stat=%.3f, p=%.3f' % (w_stat, p_value1))
#Sonucu yorumlama
alpha = 0.05
if p_value1>alpha:
    print("H0 kabul edilir,veri normal dağılmıştır.")
else:
    print("H0 reddedilir,veri normal dağılmamıştır.")

stat=0.971, p=0.379
H0 kabul edilir,veri normal dağılmıştır.

In [23]:
# Normalliği kontrol edelim
from scipy.stats import shapiro
w_stat,p_value1 = stats.shapiro(df["New"])
print('stat=%.3f, p=%.3f' % (w_stat, p_value1))
#Sonucu yorumlama
alpha = 0.05
if p_value1>alpha:
    print("H0 kabul edilir,veri normal dağılmıştır.")
else:
    print("H0 reddedilir,veri normal dağılmamıştır.")

stat=0.968, p=0.306
H0 kabul edilir,veri normal dağılmıştır.

In [29]:
from scipy.stats import ttest_ind
data1 = df["New"]
data2 = df["Current"]
stat, p = ttest_ind(data1, data2)
print('stat=%.3f, p=%.3f' % (stat, p))
if p > 0.05:
 print("H0 kabul edilir .Current ve New örneklerinin ortalamaları arasında anlamlı bir fark yoktur.")
else:
 print("H0 reddedilir.Current ve New örneklerinin ortalamaları arasında anlamlı bir fark yoktur.")

stat=-1.328, p=0.188
H0 kabul edilir .Current ve New örneklerinin ortalamaları arasında anlamlı bir fark yoktur.

## 2)Eşleştirilmiş öğrenci t-testi
- Ölçülen ortalamalar tek bir popülasyondan gelmeli.
- Eşleştirilmiş t-testi, aynı öğrencilerin farklı derslerdeki performanslarını karşılaştırmak için kullanılabilir.

In [55]:
df = pd.read_csv("student-por.csv")
df.head(3)

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,4,3,4,1,1,3,4,0,11,11
1,GP,F,17,U,GT3,T,1,1,at_home,other,...,5,3,3,1,1,3,2,9,11,11
2,GP,F,15,U,LE3,T,1,1,at_home,other,...,4,3,2,2,3,3,6,12,13,12

**Soru 2 :** Bir öğretmen, öğrencilerin birinci ve ikinci dönem (G1 ve G2) notları arasında anlamlı bir fark olup olmadığını incelemek istiyor. Öğretmen, farklı dönemlerde uygulanan öğretim yöntemlerinin veya sınavların, öğrencilerin akademik performansını etkileyip etkilemediğini anlamak istiyor.Öğrencilerin birinci dönem (G1) ve ikinci dönem (G2) notları arasında anlamlı bir fark var mı?
- Null Hipotez (H₀): Öğrencilerin birinci dönem (G1) ve ikinci dönem (G2) notları arasında anlamlı bir fark yoktur.
- Alternatif Hipotez (H₁): Öğrencilerin birinci dönem (G1) ve ikinci dönem (G2) notları arasında anlamlı bir fark vardır.

In [62]:
from scipy.stats import ttest_rel

In [64]:
# Eşleştirilmiş t-testi uygulama (G1 ve G2 karşılaştırması)
t_stat, p_value = ttest_rel(df['G1'], df['G2'])

# Sonuçları yazdırma
print('T-Statistic:', t_stat)
print('P-Value:', p_value)

T-Statistic: -2.9454228952508927
P-Value: 0.0033408101677699924

In [66]:
# Sonuçları yorumlama
alpha = 0.05
if p_value < alpha:
    print("Null Hipotez reddedilir; G1 ve G2 arasında anlamlı bir fark vardır.")
else:
    print("Null Hipotez reddedilemez; G1 ve G2 arasında anlamlı bir fark yoktur.")

Null Hipotez reddedilir; G1 ve G2 arasında anlamlı bir fark vardır.

## 3)Tek Yönlü ANOVA (One-Way ANOVA)
- 2 ve daha çok bağımsız grubun ortalamalarını
karşılaştırma için kullanılabilecek parametrik bir analiz
yöntemidir.

**Soru 1 :** İlaç malzemelerinin kalitesini karakterize etmek amacıyla üç test yöntemi
kullanılmış ve bu test yöntemlerinden elde edilen sonuçlar karşılaştırılmak
istenmektedir. Özellikle, her test yöntemi için dört tablet olmak üzere, üç
test yönteminin karşılaştırması için rastgele 12 tabletin seçildiğini
varsayalım. Üç analitik test yöntemini karşılaştıran deneylerin sonuçları
aşağıdaki tabloda gösterilmektedir.Bu üç yöntemin ortalamaları arasında fark olup olmadığını 0,05 yanılma
düzeyinde araştırınız.
- **H0**: Üç yöntemin ortalamaları arasında fark
yoktur (μ1= μ2= μ3).
- **H1**: En az bir yönteme ilişkin ortalama
diğerlerinden farklıdır (μ𝑖≠ μ𝑗
).

In [21]:
import numpy as np
import pandas as pd
import scipy.stats as stats

# Verileri tanımlayalım
data = {
    'Yöntem A': [312.2, 310.5, 309.8, 313.1],
    'Yöntem B': [308.4, 309.2, 306.6, 307.8],
    'Yöntem C': [309.8, 310.5, 307.3, 307.5]
}

# DataFrame'e dönüştürelim
df = pd.DataFrame(data)

# Veriyi uzun forma dönüştürelim
df_melt = df.melt(var_name='Yöntem', value_name='Değer')
print(df_melt)

      Yöntem  Değer
0   Yöntem A  312.2
1   Yöntem A  310.5
2   Yöntem A  309.8
3   Yöntem A  313.1
4   Yöntem B  308.4
5   Yöntem B  309.2
6   Yöntem B  306.6
7   Yöntem B  307.8
8   Yöntem C  309.8
9   Yöntem C  310.5
10  Yöntem C  307.3
11  Yöntem C  307.5

In [24]:
# Tek Yönlü ANOVA testi
fvalue, pvalue = stats.f_oneway(df['Yöntem A'], df['Yöntem B'], df['Yöntem C'])

print("ANOVA F değeri:", fvalue)
print("p-değeri:", pvalue)

# Sonucu yorumlayalım
alpha = 0.05
if pvalue < alpha:
    print("Sonuç: Yöntemler arasında istatistiksel olarak anlamlı fark vardır (H0 reddedilir).")
else:
    print("Sonuç: Yöntemler arasında istatistiksel olarak anlamlı fark yoktur (H0 kabul edilir).")

ANOVA F değeri: 6.236939026053793
p-değeri: 0.01997533729555736
Sonuç: Yöntemler arasında istatistiksel olarak anlamlı fark vardır (H0 reddedilir).

- %95 güven düzeyinde en az bir yöntemin
ortalamasının diğerlerinden farklı olduğu
söylenir.

## 4)Tekrarlı Ölçümler ANOVA

- Tekrarlı ölçümler ANOVA üç veya daha fazla grup ortalamalarının karşılaştırılmasında kullanılmaktadır.
- Burada her grup verisi aynı elemanlardan toplanmış olmalıdır.
- Bu genelde iki durumda ortaya çıkar:
- (1) bir deneyin daha müdahalenin etkisini görmek amacıyla katılımcılardan birden fazla zaman noktasında veri toplandığında
- (2) katılımcılar birden fazla deneye ya da duruma maruz kaldıklarında ve bu farklı durumlara verilen cevaplar karşılaştırılmak istendiğinde

**Soru 1:** 8 kişiden üç farklı zamanda elde edilen üç farklı testin sonucu arasında bir fark olup olmadığını inceleyin.

In [47]:
import pandas as pd

# Create a DataFrame with the data shown in the image
data = {
    'katılımcı': [1, 2, 3, 4, 5, 6, 7, 8],
    'test1': [300.00, 240.00, 160.00, 220.00, 75.00, 130.00, 180.00, 120.00],
    'test2': [160.00, 110.00, 90.00, 125.00, 48.00, 70.00, 130.00, 64.00],
    'test3': [155.00, 100.00, 55.00, 120.00, 70.00, 50.00, 80.00, 80.00]
}

df = pd.DataFrame(data)
df.head()

   katılımcı  test1  test2  test3
0          1  300.0  160.0  155.0
1          2  240.0  110.0  100.0
2          3  160.0   90.0   55.0
3          4  220.0  125.0  120.0
4          5   75.0   48.0   70.0

In [50]:
import statsmodels.api as sm
from statsmodels.formula.api import ols
from statsmodels.stats.anova import AnovaRM

# Reshape the DataFrame to long format
df_long = pd.melt(df, id_vars=['katılımcı'], value_vars=['test1', 'test2', 'test3'],
                  var_name='test', value_name='score')

# Convert 'katılımcı' to a categorical variable
df_long['katılımcı'] = df_long['katılımcı'].astype('category')

# Perform Repeated Measures ANOVA
aovrm = AnovaRM(df_long, 'score', 'katılımcı', within=['test'])
res = aovrm.fit()

res.summary()

<class 'statsmodels.iolib.summary2.Summary'>
"""
              Anova
==================================
     F Value Num DF  Den DF Pr > F
----------------------------------
test 25.8312 2.0000 14.0000 0.0000
==================================

"""

In [68]:
p_value = res.anova_table['Pr > F'].iloc[0]

In [70]:
alpha=0.001
if p_value < alpha:
    decision = "Null hipotezi reddediyoruz, test sonuçları arasında anlamlı bir fark var."
else:
    decision = "Null hipotezi reddedemiyoruz, test sonuçları arasında anlamlı bir fark yok."

decision

'Null hipotezi reddediyoruz, test sonuçları arasında anlamlı bir fark var.'