# 4. Parametrik Ä°statistiksel Hipotez Testleri
- Bu bÃ¶lÃ¼mde, veri Ã¶rneklerini karÅŸÄ±laÅŸtÄ±rmak iÃ§in kullanabileceÄŸiniz istatistiksel testler listelenmektedir.

## 1)Ã–ÄŸrencinin t-testi- 
Ä°ki baÄŸÄ±msÄ±z numunenin ortalamalarÄ±nÄ±n Ã¶nemli Ã¶lÃ§Ã¼de farklÄ± olup olmadÄ±ÄŸÄ±nÄ± test eder.

In [10]:
import pandas as pd
import scipy.stats as stats
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns

In [14]:
df = pd.read_csv("Golf.csv")
df.head(3)

   Current  New
0      264  277
1      261  269
2      267  263

**Soru1 :** "Current" ve "New" Ã¶rneklerinin ortalamalarÄ±nÄ±n anlamlÄ± bir ÅŸekilde farklÄ± olup olmadÄ±ÄŸÄ±nÄ± test etmek istiyoruz.
- **H0**:"Current" ve "New" Ã¶rneklerinin ortalamalarÄ± arasÄ±nda anlamlÄ± bir fark yoktur. 
- **H1**:"Current" ve "New" Ã¶rneklerinin ortalamalarÄ± arasÄ±nda anlamlÄ± bir fark vardÄ±r.

In [42]:
# NormalliÄŸi kontrol edelim
from scipy.stats import shapiro
w_stat,p_value1 = stats.shapiro(df["Current"])
print('stat=%.3f, p=%.3f' % (w_stat, p_value1))
#Sonucu yorumlama
alpha = 0.05
if p_value1>alpha:
    print("H0 kabul edilir,veri normal daÄŸÄ±lmÄ±ÅŸtÄ±r.")
else:
    print("H0 reddedilir,veri normal daÄŸÄ±lmamÄ±ÅŸtÄ±r.")

stat=0.971, p=0.379
H0 kabul edilir,veri normal daÄŸÄ±lmÄ±ÅŸtÄ±r.

In [23]:
# NormalliÄŸi kontrol edelim
from scipy.stats import shapiro
w_stat,p_value1 = stats.shapiro(df["New"])
print('stat=%.3f, p=%.3f' % (w_stat, p_value1))
#Sonucu yorumlama
alpha = 0.05
if p_value1>alpha:
    print("H0 kabul edilir,veri normal daÄŸÄ±lmÄ±ÅŸtÄ±r.")
else:
    print("H0 reddedilir,veri normal daÄŸÄ±lmamÄ±ÅŸtÄ±r.")

stat=0.968, p=0.306
H0 kabul edilir,veri normal daÄŸÄ±lmÄ±ÅŸtÄ±r.

In [29]:
from scipy.stats import ttest_ind
data1 = df["New"]
data2 = df["Current"]
stat, p = ttest_ind(data1, data2)
print('stat=%.3f, p=%.3f' % (stat, p))
if p > 0.05:
 print("H0 kabul edilir .Current ve New Ã¶rneklerinin ortalamalarÄ± arasÄ±nda anlamlÄ± bir fark yoktur.")
else:
 print("H0 reddedilir.Current ve New Ã¶rneklerinin ortalamalarÄ± arasÄ±nda anlamlÄ± bir fark yoktur.")

stat=-1.328, p=0.188
H0 kabul edilir .Current ve New Ã¶rneklerinin ortalamalarÄ± arasÄ±nda anlamlÄ± bir fark yoktur.

## 2)EÅŸleÅŸtirilmiÅŸ Ã¶ÄŸrenci t-testi
- Ã–lÃ§Ã¼len ortalamalar tek bir popÃ¼lasyondan gelmeli.
- EÅŸleÅŸtirilmiÅŸ t-testi, aynÄ± Ã¶ÄŸrencilerin farklÄ± derslerdeki performanslarÄ±nÄ± karÅŸÄ±laÅŸtÄ±rmak iÃ§in kullanÄ±labilir.

In [55]:
df = pd.read_csv("student-por.csv")
df.head(3)

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,4,3,4,1,1,3,4,0,11,11
1,GP,F,17,U,GT3,T,1,1,at_home,other,...,5,3,3,1,1,3,2,9,11,11
2,GP,F,15,U,LE3,T,1,1,at_home,other,...,4,3,2,2,3,3,6,12,13,12

**Soru 2 :** Bir Ã¶ÄŸretmen, Ã¶ÄŸrencilerin birinci ve ikinci dÃ¶nem (G1 ve G2) notlarÄ± arasÄ±nda anlamlÄ± bir fark olup olmadÄ±ÄŸÄ±nÄ± incelemek istiyor. Ã–ÄŸretmen, farklÄ± dÃ¶nemlerde uygulanan Ã¶ÄŸretim yÃ¶ntemlerinin veya sÄ±navlarÄ±n, Ã¶ÄŸrencilerin akademik performansÄ±nÄ± etkileyip etkilemediÄŸini anlamak istiyor.Ã–ÄŸrencilerin birinci dÃ¶nem (G1) ve ikinci dÃ¶nem (G2) notlarÄ± arasÄ±nda anlamlÄ± bir fark var mÄ±?
- Null Hipotez (Hâ‚€): Ã–ÄŸrencilerin birinci dÃ¶nem (G1) ve ikinci dÃ¶nem (G2) notlarÄ± arasÄ±nda anlamlÄ± bir fark yoktur.
- Alternatif Hipotez (Hâ‚): Ã–ÄŸrencilerin birinci dÃ¶nem (G1) ve ikinci dÃ¶nem (G2) notlarÄ± arasÄ±nda anlamlÄ± bir fark vardÄ±r.

In [62]:
from scipy.stats import ttest_rel

In [64]:
# EÅŸleÅŸtirilmiÅŸ t-testi uygulama (G1 ve G2 karÅŸÄ±laÅŸtÄ±rmasÄ±)
t_stat, p_value = ttest_rel(df['G1'], df['G2'])

# SonuÃ§larÄ± yazdÄ±rma
print('T-Statistic:', t_stat)
print('P-Value:', p_value)

T-Statistic: -2.9454228952508927
P-Value: 0.0033408101677699924

In [66]:
# SonuÃ§larÄ± yorumlama
alpha = 0.05
if p_value < alpha:
    print("Null Hipotez reddedilir; G1 ve G2 arasÄ±nda anlamlÄ± bir fark vardÄ±r.")
else:
    print("Null Hipotez reddedilemez; G1 ve G2 arasÄ±nda anlamlÄ± bir fark yoktur.")

Null Hipotez reddedilir; G1 ve G2 arasÄ±nda anlamlÄ± bir fark vardÄ±r.

## 3)Tek YÃ¶nlÃ¼ ANOVA (One-Way ANOVA)
- 2 ve daha Ã§ok baÄŸÄ±msÄ±z grubun ortalamalarÄ±nÄ±
karÅŸÄ±laÅŸtÄ±rma iÃ§in kullanÄ±labilecek parametrik bir analiz
yÃ¶ntemidir.

**Soru 1 :** Ä°laÃ§ malzemelerinin kalitesini karakterize etmek amacÄ±yla Ã¼Ã§ test yÃ¶ntemi
kullanÄ±lmÄ±ÅŸ ve bu test yÃ¶ntemlerinden elde edilen sonuÃ§lar karÅŸÄ±laÅŸtÄ±rÄ±lmak
istenmektedir. Ã–zellikle, her test yÃ¶ntemi iÃ§in dÃ¶rt tablet olmak Ã¼zere, Ã¼Ã§
test yÃ¶nteminin karÅŸÄ±laÅŸtÄ±rmasÄ± iÃ§in rastgele 12 tabletin seÃ§ildiÄŸini
varsayalÄ±m. ÃœÃ§ analitik test yÃ¶ntemini karÅŸÄ±laÅŸtÄ±ran deneylerin sonuÃ§larÄ±
aÅŸaÄŸÄ±daki tabloda gÃ¶sterilmektedir.Bu Ã¼Ã§ yÃ¶ntemin ortalamalarÄ± arasÄ±nda fark olup olmadÄ±ÄŸÄ±nÄ± 0,05 yanÄ±lma
dÃ¼zeyinde araÅŸtÄ±rÄ±nÄ±z.
- **H0**: ÃœÃ§ yÃ¶ntemin ortalamalarÄ± arasÄ±nda fark
yoktur (Î¼1= Î¼2= Î¼3).
- **H1**: En az bir yÃ¶nteme iliÅŸkin ortalama
diÄŸerlerinden farklÄ±dÄ±r (Î¼ğ‘–â‰  Î¼ğ‘—
).

In [21]:
import numpy as np
import pandas as pd
import scipy.stats as stats

# Verileri tanÄ±mlayalÄ±m
data = {
    'YÃ¶ntem A': [312.2, 310.5, 309.8, 313.1],
    'YÃ¶ntem B': [308.4, 309.2, 306.6, 307.8],
    'YÃ¶ntem C': [309.8, 310.5, 307.3, 307.5]
}

# DataFrame'e dÃ¶nÃ¼ÅŸtÃ¼relim
df = pd.DataFrame(data)

# Veriyi uzun forma dÃ¶nÃ¼ÅŸtÃ¼relim
df_melt = df.melt(var_name='YÃ¶ntem', value_name='DeÄŸer')
print(df_melt)

      YÃ¶ntem  DeÄŸer
0   YÃ¶ntem A  312.2
1   YÃ¶ntem A  310.5
2   YÃ¶ntem A  309.8
3   YÃ¶ntem A  313.1
4   YÃ¶ntem B  308.4
5   YÃ¶ntem B  309.2
6   YÃ¶ntem B  306.6
7   YÃ¶ntem B  307.8
8   YÃ¶ntem C  309.8
9   YÃ¶ntem C  310.5
10  YÃ¶ntem C  307.3
11  YÃ¶ntem C  307.5

In [24]:
# Tek YÃ¶nlÃ¼ ANOVA testi
fvalue, pvalue = stats.f_oneway(df['YÃ¶ntem A'], df['YÃ¶ntem B'], df['YÃ¶ntem C'])

print("ANOVA F deÄŸeri:", fvalue)
print("p-deÄŸeri:", pvalue)

# Sonucu yorumlayalÄ±m
alpha = 0.05
if pvalue < alpha:
    print("SonuÃ§: YÃ¶ntemler arasÄ±nda istatistiksel olarak anlamlÄ± fark vardÄ±r (H0 reddedilir).")
else:
    print("SonuÃ§: YÃ¶ntemler arasÄ±nda istatistiksel olarak anlamlÄ± fark yoktur (H0 kabul edilir).")

ANOVA F deÄŸeri: 6.236939026053793
p-deÄŸeri: 0.01997533729555736
SonuÃ§: YÃ¶ntemler arasÄ±nda istatistiksel olarak anlamlÄ± fark vardÄ±r (H0 reddedilir).

- %95 gÃ¼ven dÃ¼zeyinde en az bir yÃ¶ntemin
ortalamasÄ±nÄ±n diÄŸerlerinden farklÄ± olduÄŸu
sÃ¶ylenir.

## 4)TekrarlÄ± Ã–lÃ§Ã¼mler ANOVA

- TekrarlÄ± Ã¶lÃ§Ã¼mler ANOVA Ã¼Ã§ veya daha fazla grup ortalamalarÄ±nÄ±n karÅŸÄ±laÅŸtÄ±rÄ±lmasÄ±nda kullanÄ±lmaktadÄ±r.
- Burada her grup verisi aynÄ± elemanlardan toplanmÄ±ÅŸ olmalÄ±dÄ±r.
- Bu genelde iki durumda ortaya Ã§Ä±kar:
- (1) bir deneyin daha mÃ¼dahalenin etkisini gÃ¶rmek amacÄ±yla katÄ±lÄ±mcÄ±lardan birden fazla zaman noktasÄ±nda veri toplandÄ±ÄŸÄ±nda
- (2) katÄ±lÄ±mcÄ±lar birden fazla deneye ya da duruma maruz kaldÄ±klarÄ±nda ve bu farklÄ± durumlara verilen cevaplar karÅŸÄ±laÅŸtÄ±rÄ±lmak istendiÄŸinde

**Soru 1:** 8 kiÅŸiden Ã¼Ã§ farklÄ± zamanda elde edilen Ã¼Ã§ farklÄ± testin sonucu arasÄ±nda bir fark olup olmadÄ±ÄŸÄ±nÄ± inceleyin.

In [47]:
import pandas as pd

# Create a DataFrame with the data shown in the image
data = {
    'katÄ±lÄ±mcÄ±': [1, 2, 3, 4, 5, 6, 7, 8],
    'test1': [300.00, 240.00, 160.00, 220.00, 75.00, 130.00, 180.00, 120.00],
    'test2': [160.00, 110.00, 90.00, 125.00, 48.00, 70.00, 130.00, 64.00],
    'test3': [155.00, 100.00, 55.00, 120.00, 70.00, 50.00, 80.00, 80.00]
}

df = pd.DataFrame(data)
df.head()

   katÄ±lÄ±mcÄ±  test1  test2  test3
0          1  300.0  160.0  155.0
1          2  240.0  110.0  100.0
2          3  160.0   90.0   55.0
3          4  220.0  125.0  120.0
4          5   75.0   48.0   70.0

In [50]:
import statsmodels.api as sm
from statsmodels.formula.api import ols
from statsmodels.stats.anova import AnovaRM

# Reshape the DataFrame to long format
df_long = pd.melt(df, id_vars=['katÄ±lÄ±mcÄ±'], value_vars=['test1', 'test2', 'test3'],
                  var_name='test', value_name='score')

# Convert 'katÄ±lÄ±mcÄ±' to a categorical variable
df_long['katÄ±lÄ±mcÄ±'] = df_long['katÄ±lÄ±mcÄ±'].astype('category')

# Perform Repeated Measures ANOVA
aovrm = AnovaRM(df_long, 'score', 'katÄ±lÄ±mcÄ±', within=['test'])
res = aovrm.fit()

res.summary()

<class 'statsmodels.iolib.summary2.Summary'>
"""
              Anova
==================================
     F Value Num DF  Den DF Pr > F
----------------------------------
test 25.8312 2.0000 14.0000 0.0000
==================================

"""

In [68]:
p_value = res.anova_table['Pr > F'].iloc[0]

In [70]:
alpha=0.001
if p_value < alpha:
    decision = "Null hipotezi reddediyoruz, test sonuÃ§larÄ± arasÄ±nda anlamlÄ± bir fark var."
else:
    decision = "Null hipotezi reddedemiyoruz, test sonuÃ§larÄ± arasÄ±nda anlamlÄ± bir fark yok."

decision

'Null hipotezi reddediyoruz, test sonuÃ§larÄ± arasÄ±nda anlamlÄ± bir fark var.'